@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --very-dark-gren: #273526;
  --dark-green: #45624E;
  --green:#6d8777;
  --light-green: #C0cfb2;
  --very-light-green: #e4e6d9;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1440px;
  box-sizing: border-box;
}

/* general */

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;;
}

p {
  font-size: 1rem;
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border: 1.5px solid white;
}

.btn-better {
  background-color: #45624E;
  padding: 8px 18px;
  border-radius: 20px;
}
.btn-better:hover{
  background-color: #6d8777;
}
.margin {
  margin: 1rem;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100;
  height: 13vh;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #242424;
}

.logo img {
  height: 80px;
  width: auto;
}

.logo {
  margin: 2rem;
}


.navigation ul {
  display: flex;
  margin: 2rem;
}

.navigation ul li {
  margin: 0 1.5rem;
}

/* Baner */

.baner {
  width: 100%;
  height: 550px;
  background-image: url(/Baner1.jpg);
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Hero */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}

.hero .about-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .img-wrap
{
 padding: 3rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.hero .img-wrap img {
  height: 500px;
}

/* Benefits */

.benefits {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 50px; */
  background-color: var(--very-dark-gren);
  width: 100%;
}

.benefit-card {
  display: flex;
  justify-content: center;
  align-items: ceenter;
  margin: 20px;
}

.benefit-card img {
  height: 80px;
  margin: 20px;
}

.benefit-wrap {
  margin: 20px;
}

/* Shop */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.product-card {
  margin: 20px;
}

.product-card .img-wrap{
  width: 250px;
  height: 350px;
  position: relative;

}
.product-card .img-wrap img {
  width: 250px;
  height: 350px;
  position: absolute;
  top: 10%;
  left: -15%;
}


.product-details {
  border: 2px solid #45624E;
  padding: 50px 20px 20px;
  border-radius: 15px;
}

.product-details .wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.product-details .button-wrap {
  margin: 10px 0;
  text-align: center;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-name {
  font-weight: bold;
}

/* FAQ */
.faq-accordion {
  margin-top: -100px;
}

.faq {
  width: 70%;
  margin: 20px auto;
}

.faq .question {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  padding: 15px;
}

.faq .anwser {
  background-color: #C0cfb2;
  color: #242424;
  padding: 25px;
  margin-top: 10px;
}

.faq .question p, 
.faq .anwser p {
  font-size: 1.25rem;
}

.question-btn {
  font-weight: bold;
  margin: 0 15px;
}

.baner-bg {
  width: 100%;
  height: 450px;
  background-image: url(/FAQbaner.png);
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baner-bg h3 {
  margin-top: 120px;
}

/* Product page */

.product-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.product-display {
  background-color: var(--green);
  position: relative;
}

.product-display img {
  position: absolute;
  bottom: 8%;
  left: 40%;
  height: 75vh;
  width: auto;

}

.product-description {
  background-color: var(--light-green);
  display: flex;
  justify-content: center;

}

.product-description h3 {
  margin-bottom: 50px;
}

.product-description .price {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--dark-green);
  margin-bottom: 5px;
}
.product-description .description {
  margin-bottom: 25px;
}

.product-description .wrap {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 15vh 20px 50px;
}

.product-care {
  margin: 0 auto;
}
.product-care ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.product-care ul > :not(:last-child) {
  border-right: 2px solid var(--very-light-green);
}

.product-care ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.product-care ul li img {
  width: 50px;
  margin-bottom: 8px;
}

/* contact page */

.contact-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
}


.contact-page-left{
  background-image: url(/siteBaner.png);
  background-size: 60% ;
  background-repeat: no-repeat;
  position: relative;
}

.contact-page-left h3{
  font-size: 4rem;
  text-transform: lowercase;
  position:absolute;
  top:40%;
  left:50%;
}

.contact-page-left h3 span{
  display: block;
  line-height: 4.5rem;
}

.contact-page-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-green);
}

.contact-page-right form {
  display: flex;
  flex-direction: column;
}

.contact-page-right form input,
.contactpage-right form textarea {
  margin: 20px 0;
  padding: 10px 30px;
}
