@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --very-dark-gren: #273526;
  --dark-green: #45624E;
  --green:#6d8777;
  --light-green: #C0cfb2;
  --very-light-green: #e4e6d9;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1440px;
  box-sizing: border-box;
}

/* general */

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;;
}

p {
  font-size: 1rem;
  /* padding: 1rem 1.5rem; */
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border: 1.5px solid white;
}

.margin {
  margin: 1rem;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100;
  height: 100px;
}

.logo img {
  height: 80px;
  width: auto;
}

.logo {
  margin: 2rem;
}


.navigation ul {
  display: flex;
  margin: 2rem;
}

.navigation ul li {
  margin: 0 1.5rem;
}

/* Baner */

.baner {
  width: 100%;
  height: 450px;
  background-image: url(/Baner1.jpg);
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Hero */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}

.hero .about-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .img-wrap
{
 padding: 3rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.hero .img-wrap img {
  height: 500px;
}

/* Benefits */

.benefits {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 50px; */
  background-color: var(--very-dark-gren);
  width: 100%;
}

.benefit-card {
  display: flex;
  justify-content: center;
  align-items: ceenter;
  margin: 20px;
}

.benefit-card img {
  height: 80px;
  margin: 20px;
}

.benefit-wrap {
  margin: 20px;
}